* {
	box-sizing: border-box;
}

.main-content {
	@include displayFlex(column, center, center);
	margin: 10rem 0;

	.content-container {
		@include displayFlex(row, space-evenly, center);
		width: 90%;

		.content-first-img {
			@include size(50vh, 65vh);
			@include addImage(
				"/src/assets/img/man-holding-pink-sign-with-dots.webp",
				no-repeat,
				contain,
				center
			);
		}

		.content-text {
			@include displayFlex(column, center, flex-start);
			max-width: 40%;
			margin: 0 3rem;

			p {
				font-size: 1.5rem;
				opacity: 0.7;
			}
		}

		&:nth-child(2) {
			@include displayFlex(row-reverse, space-evenly, center);
			.content-second-img {
				@include size(50vh, 65vh);
				@include addImage(
					"/src/assets/img/woman-holding-yellow-sign-with-dots.webp",
					no-repeat,
					contain,
					center
				);
			}
		}

		.content-third-img {
			@include size(50vh, 65vh);
			@include addImage(
				"/src/assets/img/woman-smiling-while-holding-pink-sign-with-dots.webp",
				no-repeat,
				contain,
				center
			);
		}
	}
}

.cta {
	@include displayFlex(column, center, center);
	h2,
	.large-btn,
	.cta-img {
		margin: 1em;
	}

	.cta-img {
		margin: 10rem 0;
		@include size(80%, 85vh);
		@include addImage(
			"/src/assets/img/group-of-people-holding-signs-with-dots.webp",
			no-repeat,
			contain,
			center
		);
	}
}
