.btn,
.large-btn {
	border: 2px solid #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
	border-radius: 29.5px;
	padding: 0.4em 2rem;
	cursor: pointer;
	letter-spacing: 1pt;
}

.large-btn {
	padding: 0.8em 5rem;
	border: none;
	font-size: 1.8rem;
	border-radius: 50px;
}

.no-fill {
	background-color: transparent;
}

.filled {
	background-color: color(text);
}

.cta .large-btn {
	background-color: color(accent);
}
